<a href="https://colab.research.google.com/github/AqsaH999/python-data-science-journey/blob/main/Hello_World_Python_Session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Python Output - how to print using python**

In [ ]:
# python is a case sensitive language
print('Hello! World')

Hello! World

In [ ]:
print('Aqsa Hamdani')

Aqsa Hamdani

In [ ]:
#py print fnc doesn't print without quotes
print(salman)

NameError: name 'salman' is not defined

In [ ]:
print(7)

7

In [ ]:
print(1.554)

1.554

In [6]:
print(0)

0

In [ ]:
# multiple print in pythons print function , very powerful
print('Hello',1,4.5,9,True)

Hello 1 4.5 9 True

In [ ]:
# Overwriting the sep='' to change the output
print('Hello',1,4.5,9,True,sep='/')

Hello/1/4.5/9/True

In [ ]:
# can run diffrent print statements together
print('hello')
print('world') # reason is end='/n'

hello
world

In [ ]:
# overwriting end='/n'
print('hello',end='-')
print('world')

hello-world

# 2. **Data Type**

In [ ]:
# Integer
print(8)
# python can handle large integers upto 1e309 (1*10^309)
print (1e309)

8
inf

In [ ]:
# Float/Decimal
print(9.57)
# python can handle decimals upto 1.7e309
print(1.7e309)

9.57
inf

In [ ]:
# Boolean True or False
print(True)        # Used to built logic
print(False)

True
False

In [ ]:
# Text/String
print('Hello! World')

Hello! World

In [ ]:
# Complex Number
print(5+6j)        # One is real part and one is imaginary part

(5+6j)

In [ ]:
# List-> C-> Array
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [ ]:
# Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [ ]:
# Sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [ ]:
# Dictionary
print({'name':'Aqsa','gender': 'Male','weight': 65})

{'name': 'Aqsa', 'gender': 'Male', 'weight': 65}

In [1]:
#Type
type(2)         #way to detect datatype

int

# 3. **Variables**
 * Containers to store information
 * the value varies , because programmer doesn't know the future use

In [ ]:
# static vs dyamic typing
# static vs dyamic typing
# stylish declaration techniques

In [8]:
#STATIC TYPING
# C/C++ variable defining
int name ='Aqsa'

# in python
name = 'Aqsa'
print(name)

a =10
b =19
print(a+b)    # in python we don't need to define variables as such , at the top

Aqsa
29

In [ ]:
# Dynamic Typing
a = 5   # in py , pythons interpreter is intelligent enough to understand the
        # datatype of the varible so defining rqd.

# Static typing
int a = 5   #in c/c++

In [10]:
# Dynamic Binding
a = 5
print(a)

a = 'aqsa'
print (a)    #in py the value of variable defined can be anything
              and a variable defined in python can store diffrent
              datatypes in same prog.

5
aqsa

In [ ]:
# Static Binding
int a = 5     #value is same throughout the code

In [12]:
# Stylish declaration techniques
a = 1
b = 2
c = 3
print(a,b,c)

1 2 3

In [13]:
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [14]:
a=b=c = 5
print(a,b,c)

5 5 5

# 4. **Comments**

In [16]:
# in companies comments are written on top
a = 5
b = 6             #this is comment and py will ignore this
print (a+b)

11

5. # **Keywords**
* Keywords are the words reserved by the compiler to understand the code futhur conv into binary
* 32 keywords in py
* Don't use keyword names as variables in the code to avoid confusion

# **Identifiers**
As a programmer the name we allot in a program is called an identifier (name creation)

**RULES:**
* don't start with a digit
* can use upp, low case but in  
  special chars only use'_'
* identifiers cannot be keywords

In [23]:
# not starting with digits
name1 ='Aqsa'       #start with a string
print(name1)

#using underscore
_ = 'Aqsa'
print(_)

Aqsa
Aqsa

# 5. **User Input**

Static software:  user only takes info

Dynamic software:

In [ ]:
# static
input('Enter Email')

# **Program 1 :**

while taking input from user python stores datatypes in strings because string the universal data format.

In [67]:
# take input from users and store them in variable
fnum = input('enter first number')
snum = input('enter second number')
print(type (fnum),type(snum))
#add the 2 variables
result = int(fnum)+ int(snum)
#print the result
print(result)
print(type(fnum))

enter first number22
enter second number78
<class 'str'> <class 'str'>
100
<class 'str'>

# **6. Type Conversion**

* Implicit : operation over diffrent datatypes and py allows it as it's mathematically possible.
* Explicit:

In [36]:
# implicit
print(5+5.6)
print (type(5), type(5.6))

10.6
<class 'int'> <class 'float'>

In [ ]:
# Explicit
print(4+ '4') # py doesn't convert here

In [65]:
# Explict type conversion (programmer)
# ex: str-> int

int('4')
int(float('4.5'))

#int('4+5j)          #doesn't convert , if want to can conv furthur

4

# **7. Literals**

* Any raw value store in a variable.

* Diffent ways to set literals

In [71]:
# Binary Literals
a = 0b1010
print(a)

10

In [73]:
# Decimal Literals
b = 100
print(b)

100

In [75]:
# Octal Literals
c = 0o310 # this is the octal rep of 200
print(c)

200

In [79]:
# Hexadecimal Literal
d =0x12c
print(d)

300

In [84]:
# Float Literals ( convienent to rep very small and big numbers)
float_1 = 10.5
float_2 = 1.5e3   #1.5*10^3
float_3 = 1.5e-3  #1.5*10^-3
print(float_1,float_2,float_3)

10.5 1500.0 0.0015

In [85]:
# Complex literals
x = 3.14j
print(x,x.imag,x.real)

3.14j 3.14 0.0

**Giving values to strings**

In [90]:
# string with single commas
string = 'This is python'
print (string)

This is python

In [91]:
# string with double commas
string = "This is python"
print(string)

This is python

In [92]:
# char
char ="C"
print(char)

C

In [93]:
# multiline
multiline_str = """ This is multi string with more than one line code"""
print(multiline_str)

 This is multi string with more than one line code

In [94]:
# Unicode
unicode = u"\U0001f600\U0001F606\U0001F923"
print(unicode)

ðŸ˜€ðŸ˜†ðŸ¤£

In [96]:
# raw
raw_str = r"raw\n string"
print (raw_str)

raw\n string

In [97]:
# Boolean
a = True + 4
b = False + 19
print ("a:", a)
print ("b:", b)

a: 5
b: 19

In [3]:
# None
a = None
print (a)

None

In [5]:
# example
k = None      #no variable declaration in python, use and make
a = 5
b = 6
print('program execution')

program execution

# **8. Operators**