<a href="https://colab.research.google.com/github/AqsaH999/python-data-science-journey/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LOOPS**
 Loop is an entity by its use one can run one thing multiple times.

 Ex:
  Loops are used in diffrent softwares like in flipkart the containers foe smasung mobiles are same: phone, description, price.
  Zomato restraunts
  Hotel listings etc
* Hold on loops = good programmer

# **WHILE LOOP**

In [ ]:
## While loop
# Examples:
# Write a code to print a table

number = int(input(('Enter the number')))
i = 1                                     # i is iteration
while i<11:                               # upto which condition loop will work
 print(number, '*', i, '=', number * i)
 i += 1

Enter the number300
300 * 1 = 300
300 * 2 = 600
300 * 3 = 900
300 * 4 = 1200
300 * 5 = 1500
300 * 6 = 1800
300 * 7 = 2100
300 * 8 = 2400
300 * 9 = 2700
300 * 10 = 3000

**While Loop with Else**

In [ ]:
#Example:
x = 1
while x < 3:
 print(x)
 x += 1

else:
  print('limit crossed')

1
2
limit crossed

# **Program 1:**

In [ ]:
# Create a "guessing game"

#generate a random integer between 1 and 100
import random
jackpot = random.randint(1,100)

guess = int(input('Enter the guess'))
counter = 1
while guess!= jackpot:
  if guess < jackpot:
   print('guess higher')
  else:
   print('guess lower')

  guess = int(input('Enter the guess'))
  counter += 1

else:
  print('Your guess is correct, you win a jackpot!!')
  print('attempts',counter)

Enter the guess20
guess higher
Enter the guess40
guess lower
Enter the guess24
guess higher
Enter the guess27
guess higher
Enter the guess29
guess higher
Enter the guess35
guess lower
Enter the guess33
guess higher
Enter the guess38
guess lower
Enter the guess37
guess lower
Enter the guess36
guess lower
Enter the guess35
guess lower
Enter the guess32
guess higher
Enter the guess34
Your guess is correct, you win a jackpot!!
attempts 13

#

# **FOR LOOP**
 * For loop in py is very diffrent
   and very easy from other lang's

* it use a fnc called "range" . It generates no's between this range

* for loop not only iterates over numbers but
also on other datatypes. like, strings, tuples, list etc.

In [ ]:
# iterating over a list
for i in (1,2,3,4,5):
 print(i)

1
2
3
4
5

In [ ]:
for i in range(1,11):     #in range first no is included and last is not
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# incriment in range function
for i in range(1,11,2):             #here 2 is incriment
  print(i)

1
3
5
7
9

In [ ]:
# print no's in reverse for 10 to 0
for i in range (10,0,-1):          # incriment is -1
 print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# for loop can iterate on string also
for i in 'Dinosaurus':
 print(i)

D
i
n
o
s
a
u
r
u
s

In [ ]:
# iterating over a set
for i in {1,2,3,4,5}:
  print(i)

1
2
3
4
5

## **Program 2:**

In [ ]:
# The current population of a town is 10000. The population of the town is
# increasing at the rate of 10% per year. You have to write a program to find
# out the population at the end of each of the last 10 years.

curr_pop = 10000

for i in range(10,0,-1):
    print(i, curr_pop)
    curr_pop = curr_pop/1.1

# this is an example of reverse for loop

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

#

# **Sequence sum**

1/1! + 2/2! + 3/3!+......

* find the sum to nth term, nth value is given by user

In [ ]:
# Example for sequence sum
n = int(input(('Enter the value of n')))

result = 0
fact = 1
for i in range (1,n+1):
 fact = fact * i               #change in i change in fact
 result = result + i/fact

print(result)

Enter the value of n4
2.6666666666666665

## **NESTED LOOPS**

* In this concept we run loop in a loop

In [ ]:
# Examples -> unique pairs
## print all the pairs in 1,2,3,4-- 11,12,1314....

for i in range(1,5):
  for j in range (1,5):
    print(1,j)

1 1
1 2
1 3
1 4
1 1
1 2
1 3
1 4
1 1
1 2
1 3
1 4
1 1
1 2
1 3
1 4

# **Pattern 1:**
  
  
       *

       **

       ***

In [ ]:
# Pattern 1: Row is asteric number

rows = int(input('Enter the number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print('*',end ='')       #removed /n to no change the line ,astericks of same
                             #row in same line
  print()                    #using print function here just to change the line

Enter the number of rows6
*
**
***
****
*****
******

# **Pattern 2:**

     1
     121
     12321
     1234321

In [4]:
# Pattern 2:
rows = int(input('Enter the number of rows'))

for i in range (1,rows+1):
  for j in range(1,i+1):
    print(j,end='')

  for k in range(i-1,0,-1):       #this loop is in brother of j.
    print(k,end='')

  print()

Enter the number of rows7
1
121
12321
1234321
123454321
12345654321
1234567654321

# **LOOP CONTROL STATEMENTS**

   

*   Break
*   Continue
*   Pass

**Break Statement:**

In [5]:
# Break statement : breaks the loop on meeting a condition
for i in range (1,10):
  if i == 5:
    break                              # here we are as in asking question
  print(i)                             # if value of i is 5 to break loop

1
2
3
4

In [14]:
# Example : print prime numbers

lower = int(input('Enter the lower range'))
upper = int(input('Enter the upper range'))

for i in range (lower,upper+1):
  if i > 1:  # prime numbers are greater than 1
   for j in range (2,i):
     if i%j == 0:
      break
   else:
    print(i)

Enter the lower range10
Enter the upper range20
11
13
17
19

**Continue Statement:**

In [15]:
# Continue statement : skips code of current iteration
for i in range (1,10):
  if i == 5:                 #skips this code
    continue
  print(i)

  # Real life example: skip out of stock items on a website

1
2
3
4
6
7
8
9

**Pass Statement:**

In [16]:
# Pass statement: just to say to not to through an error rn
for i in range (1,10):
  pass