<a href="https://colab.research.google.com/github/AqsaH999/python-data-science-journey/blob/main/Python_Fundamentals_Session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#         **Python Fundamentals**

# **1. Python Output - how to print using python**

In [1]:
# python is a case sensitive language
print('Hello! World')

Hello! World

In [2]:
print('Aqsa Hamdani')

Aqsa Hamdani

In [45]:
#py print fnc doesn't print without quotes
print(salman)

NameError: name 'salman' is not defined

In [46]:
print(7)

7

In [47]:
print(1.554)

1.554

In [48]:
print(0)

0

In [49]:
# multiple print in pythons print function , very powerful
print('Hello',1,4.5,9,True)

Hello 1 4.5 9 True

In [50]:
# Overwriting the sep='' to change the output
print('Hello',1,4.5,9,True,sep='/')

Hello/1/4.5/9/True

In [51]:
# can run diffrent print statements together
print('hello')
print('world') # reason is end='/n'

hello
world

In [52]:
# overwriting end='/n'
print('hello',end='-')
print('world')

hello-world

# 2. **Data Type**

In [53]:
# Integer
print(8)
# python can handle large integers upto 1e309 (1*10^309)
print (1e309)

8
inf

In [54]:
# Float/Decimal
print(9.57)
# python can handle decimals upto 1.7e309
print(1.7e309)

9.57
inf

In [55]:
# Boolean True or False
print(True)        # Used to built logic
print(False)

True
False

In [56]:
# Text/String
print('Hello! World')

Hello! World

In [58]:
# Complex Number
print(5+6j)        # One is real part and one is imaginary part

(5+6j)

In [57]:
# List-> C-> Array
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [59]:
# Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [8]:
# Sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [60]:
# Dictionary
print({'name':'Aqsa','gender': 'Male','weight': 65})

{'name': 'Aqsa', 'gender': 'Male', 'weight': 65}

In [61]:
#Type
type(2)         #way to detect datatype

int

# 3. **Variables**
 * Containers to store information
 * the value varies , because programmer doesn't know the future use

In [11]:
# static vs dyamic typing
# static vs dyamic typing
# stylish declaration techniques

In [64]:
#STATIC TYPING
# C/C++ variable defining
#int (name) ='Aqsa'

# in python
name = 'Aqsa'
print(name)

a =10
b =19
print(a+b)    # in python we don't need to define variables as such , at the top

Aqsa
29

In [65]:
# Dynamic Typing
a = 5   # in py , pythons interpreter is intelligent enough to understand the
        # datatype of the varible so defining rqd.

# Static typing
int a = 5   #in c/c++

SyntaxError: invalid syntax (ipython-input-3101933980.py, line 6)

In [ ]:
# Dynamic Binding
a = 5
print(a)

a = 'aqsa'
print (a)    #in py the value of variable defined can be anything
              and a variable defined in python can store diffrent
              datatypes in same prog.

In [ ]:
# Static Binding
int a = 5     #value is same throughout the code

In [ ]:
# Stylish declaration techniques
a = 1
b = 2
c = 3
print(a,b,c)

In [ ]:
a,b,c=1,2,3
print(a,b,c)

In [ ]:
a=b=c = 5
print(a,b,c)

# 4. **Comments**

In [ ]:
# in companies comments are written on top
a = 5
b = 6             #this is comment and py will ignore this
print (a+b)

5. # **Keywords**
* Keywords are the words reserved by the compiler to understand the code futhur conv into binary
* 32 keywords in py
* Don't use keyword names as variables in the code to avoid confusion

# **Identifiers**
As a programmer the name we allot in a program is called an identifier (name creation)

**RULES:**
* don't start with a digit
* can use upp, low case but in  
  special chars only use'_'
* identifiers cannot be keywords

In [ ]:
# not starting with digits
name1 ='Aqsa'       #start with a string
print(name1)

#using underscore
_ = 'Aqsa'
print(_)

# 5. **User Input**

Static software:  user only takes info

Dynamic software:

In [40]:
# static
input('Enter Email')
print(input)

Enter Emailaqsahamdani09@gmail.com
<bound method Kernel.raw_input of <google.colab._kernel.Kernel object at 0x788e183a89b0>>

# **Program 1 :**

while taking input from user python stores datatypes in strings because string the universal data format.

In [38]:
# take input from users and store them in variable
fnum = input('enter first number')
snum = input('enter second number')
print(type (fnum),type(snum))
#add the 2 variables
result = int(fnum)+ int(snum)
#print the result
print(result)
print(type(fnum))

enter first number5
enter second number2
<class 'str'> <class 'str'>
7
<class 'str'>

# **6. Type Conversion**

* Implicit : operation over diffrent datatypes and py allows it as it's mathematically possible.
* Explicit:

In [13]:
# implicit
print(5+5.6)
print (type(5), type(5.6))

10.6
<class 'int'> <class 'float'>

In [14]:
# Explicit
print(4 + '4') # py doesn't convert here

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
# Explict type conversion (programmer)
# ex: str-> int

int('4')
int(float('4.5'))

#int('4+5j)          #doesn't convert , if want to can conv furthur

4

# **7. Literals**

* Any raw value store in a variable.

* Diffent ways to set literals

In [16]:
# Binary Literals
a = 0b1010
print(a)

10

In [17]:
# Decimal Literals
b = 100
print(b)

100

In [18]:
# Octal Literals
c = 0o310 # this is the octal rep of 200
print(c)

200

In [19]:
# Hexadecimal Literal
d =0x12c
print(d)

300

In [20]:
# Float Literals ( convienent to rep very small and big numbers)
float_1 = 10.5
float_2 = 1.5e3   #1.5*10^3
float_3 = 1.5e-3  #1.5*10^-3
print(float_1,float_2,float_3)

10.5 1500.0 0.0015

In [21]:
# Complex literals
x = 3.14j
print(x,x.imag,x.real)

3.14j 3.14 0.0

**Giving values to strings**

In [22]:
# string with single commas
string = 'This is python'
print (string)

This is python

In [23]:
# string with double commas
string = "This is python"
print(string)

This is python

In [24]:
# char
char ="C"
print(char)

C

In [25]:
# multiline
multiline_str = """ This is multi string with more than one line code"""
print(multiline_str)

 This is multi string with more than one line code

In [26]:
# Unicode
unicode = u"\U0001f600\U0001F606\U0001F923"
print(unicode)

ðŸ˜€ðŸ˜†ðŸ¤£

In [27]:
# raw
raw_str = r"raw\n string"
print (raw_str)

raw\n string

In [28]:
# Boolean
a = True + 4
b = False + 19
print ("a:", a)
print ("b:", b)

a: 5
b: 19

In [29]:
# None
a = None
print (a)

None

In [30]:
# example
k = None      #no variable declaration in python, use and make
a = 5
b = 6
print('program execution')

program execution

# **8. Operators**

Performing changes on two operants or performing operation on two operants,
the sign used is called operators.

**DIFFERENT TYPES:**

* Arithmetic Operators
* Relational Operators
* Logical Operators
* Bitwise Operators
* Assignment Operators
* Membership Operators

In [31]:
# Arithmetic Operators

print (2+4)
print(9-2)
print(5*10)
print(6/5)
print(5//2)    # integer division op, conv decimal into int
print(5%2)     # Modulus Operator, divides and gives remainder
print(5**2)    # power Operator only in py, says: 5 to the power 2

6
7
50
1.2
2
1
25

In [32]:
# Relational Operators, used for comparing

print(4>5)
print(4<5)
print(4>=4)
print(4<=4)
print(4==4)
print

False
True
True
True
True

In [33]:
# Logical Operators

# AND : both should be 1 to get an output
print(1 and 0)
print(1 and 1)

# OR: any one should be 1 to get an output
print (1 or 0)

# NOT: it makes 1 to 0 and 0 to 1
print (not 1 )      # in py 0 = False

0
1
1
False

In [34]:
# Bitwise Operators : special op's  work on binary values

# bitwise AND  operator
print(2 & 3)            #& : ampersand

# bitwise OR operator
print(2 | 3)

# bitwise XOR          XOR: if both are same you get 0, and diff get 1
print (2 ^ 3)

# bitwise NOT
print(~3)

# bitwise left shift
print(4 >> 2)

# bitwise right shift
print(4 << 2 )

## bitwise op's are not used in normal programming or data science, it can be
## used in the image processing or computer vision projects , exclusively
## bitwise AND , OR

2
3
1
-4
1
16

In [35]:
# Assignment Operators

# Equal to is an assignment operator
a = 2
# a = a + 2 : meaning of below code
a += 2
print(a)

a = 2
# a = a % 2
a %=2
print(a)

##a++ == a : not allowed in py

4
0

In [36]:
# Membership Operators : in a  given value another value is present or not

# in

print('D' in 'Delhi')

# not in
print ('i' not in 'icecream')

print('1' in '2,3,4,5')

##built-in in python , no need to run loop as is the case in other lang's.
## works on list, ses,tupels, dict

True
False
False

# **Program : 2**

In [44]:
# Program -Find the sum of 3- digit number entered by the user

number = int(input('Enter a 3 digit number'))
print (number)

# we will extract numbers from 3 digit 345 from backside

# 345 % 10 -> 5
a = number % 10
number = number//10

# 34 % 10 -> 4
b = number % 10
number = number//10

# 3 % 10 -> 3
c = number % 10

print(a+b+c)

Enter a 3 digit number345
345
12